/** index.css **/
/*
 _      _      __ _| |_
 \\___()''o   / _` | __|
 (     \_v   | (_| | |_    gt: tools to simplify git and github
  \_)\_)_)    \__, |\__|
              |___/
*/
h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 2rem 0 0.5rem 0;
}

.shellStyle {
  background: black;
  color: rgb(200, 200, 200);
  font-size: 0.9rem;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  width: 100%;
}

.borderBox {
  background: white;
  border: solid 1px rgb(200, 200, 200);
  color: rgb(100, 100, 100);
  font-size: 0.9rem;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
}

.black { color: black; }
.orange { color: orange; }
.red { color: red; }
.teal { color: teal; }
.white { color: white; }
.yellow { color: yellow; }

.centeredImg {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.directoryBox {
  background: white;
  border: var(--border);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.buttonContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  max-width: 800px;
  height: 2rem;
  width: 100%;
}

.button {
  background-color: rgb(0, 90, 255);
}

.button:hover {
  background-color: rgb(50, 120, 255);
}

.todoButton {
  text-align: center;
  background-color: rgb(15, 128, 40);
  border: solid 1px rgb(10, 185, 50);
  min-width: 5rem;
}

.todoButton:hover {
  background-color: rgb(30, 165, 50);
  border: solid 1px rgb(15, 128, 40);
}

.titleContainer {
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 0;
}

.titleLeft {
}

.titleMiddle {
  display: block;
  line-height: 1.5rem;
}

.titleRight {
  text-align: right;
}

.titleImg {
  margin-right: 1rem;
  width: 200px;
}

.welcomeBanner {
  color: rgb(0, 160, 50);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* detect narrow */
@media screen and (max-width: 600px) {
  .titleImg {height: auto; width: 64px; }
}
